<footer">
    <div class="f-info">
    <div class="f-info-socials">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="f-info-brand">&copy; 2025 Wanderlust private ltd</div>
    <div class="f-info-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
    </div>
 </div>
</footer>